@font-face {
    font-family: 'Staatliches';
    src: url(/style/fonts/staatliches-regular-webfont.woff2) format('woff2'),
    url(/style/fonts/staatliches-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(/style/fonts/sourcesanspro-regular-webfont.woff2) format('woff2'),
    url(/style/fonts/sourcesanspro-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-staatliches: 'Staatliches', sans-serif;
    --font-source-sans-pro: 'SourceSansPro', sans-serif;
}

body {
    font-family: var(--font-source-sans-pro);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-staatliches);
}
