/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * @package scandipwa/base-theme
 * @link https://github.com/scandipwa/base-theme
 */

:root {
    --input-type-number-width: 80px;
    --placeholder-gradient-color: #eee;
    --placeholder-image: linear-gradient(-45deg, #fff 0, var(--placeholder-gradient-color) 0%, #fff 50%, var(--placeholder-gradient-color) 50%, #fff 100%);
    --placeholder-size: 400px 400px;
    --placeholder-animation: placeholderAnimation 10s linear infinite;
    --primary-divider-color: #F8AF2C;
    --secondary-error-color: #fff;
    --primary-error-color: #FA6135;
    --secondary-success-color: #fff;
    --primary-success-color: #44AD9F;
    --secondary-info-color: #0D2E41;
    --primary-info-color: #F8AF2C;
    --body-content-color: $black;

    // Declare imported primary colors to change the theme's colors
    --primary-base-color: var(--imported_primary_base_color, #{$default-primary-base-color});
    --primary-dark-color: var(--imported_primary_dark_color, #{$default-primary-dark-color});
    --primary-light-color: var(--imported_primary_light_color, #{$default-primary-light-color});
    --secondary-base-color: var(--imported_secondary_base_color, #{$default-secondary-base-color});
    --secondary-dark-color: var(--imported_secondary_dark_color, #{$default-secondary-dark-color});
    --secondary-light-color: var(--imported_secondary_light_color, #{$default-secondary-light-color});
}
